POSTGRES_DB=todo_db
POSTGRES_USER=db_user
POSTGRES_PASS=db_pass
POSTGRES_PORT=5432

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASS}@127.0.0.1:${POSTGRES_PORT}/${POSTGRES_DB}?serverVersion=16&charset=utf8"
